<section class="front-zapfarma-rodape__container_10" id="front-zapfarma-rodape__container_10">
        <div class="front-zapfarma-rodape__container_10__rodape">
            <div>
                <span>Acesso rápido</span>
                <p><a [routerLink]="['/home']" fragment="front-zapfarma-home__container_01">Início</a></p>
                <p><a href="#/sobre" >Sobre</a></p>
                <p><a [routerLink]="['/home']" fragment="front-zapfarma-home__container_10">Trabalhe conosco</a></p>
            </div>
            <div>
                <span>Sobre</span>
                <p><a [routerLink]="['/politica-privacidade']" fragment="front-zapfarma-politica-privacidade__container_01">Política de privacidade</a></p>
                <p><a [routerLink]="['/termos-uso']" fragment="front-zapfarma-termos-uso__container_01__titulo">Termos de uso</a></p>
                <p><a [routerLink]="['/home']" fragment="front-zapfarma-home__container_09">Perguntas frequentes</a></p>
            </div>
            <div>
                <span>Contato</span>
                <p>Contato&#64;zapfarma.com</p>
                <p>Segunda à Sexta: 08h às 18h</p>
            </div>
            <div>
                <span>Redes Sociais</span>
                <a target="_blank" href="https://www.instagram.com/zapfarmaoficial/"><img class="insta"
                     src="assets/imgs/insta.png" alt="IA Zapfarma" /></a>
                     
                <a target="_blank" href="https://www.facebook.com/zapfarmaoficial/"><img class="face"
                        src="assets/imgs/face.webp" alt="IA Zapfarma" /></a>
            </div>
        </div>
    </section>

