<!-- <div class="mat-app-background basic-container">
  <mat-sidenav-container class="container" autosize>
    <mat-sidenav position="end" #sidenav class="sidenav" mode="side" opened="true">
      <mat-nav-list>
        <mat-list-item class="top-menu">
          <a *ngIf="isExpanded" (click)="isExpanded = !isExpanded">
            <span class="logo" *ngIf="isExpanded || isShowing"><img src="../../../assets/imgs/logo-branca.png"></span>
          </a>
          <button class="expanded" mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>{{isExpanded ?
              'chevron_left': 'chevron_right'}}</mat-icon></button>
        </mat-list-item>
        <mat-list-item class="area-account">
          <mat-icon style="color: #FFFFFF;" mat-list-icon>lock</mat-icon>
          <div *ngIf="isExpanded || isShowing">
            <p class="sub-title">{{usuario?.nome}} <span (click)="sair()" class="sair">(sair)</span></p>
          </div>
        </mat-list-item>
        <mat-list-item class="top-menu">
          <a href="#/dashboard">
            <mat-icon mat-list-icon>dashboard</mat-icon>
            <span *ngIf="isExpanded || isShowing">Dashboard</span>
          </a>
        </mat-list-item>
        <mat-list-item class="top-menu">
          <a href="#/empresas">
            <mat-icon mat-list-icon>medical_services</mat-icon>
            <span *ngIf="isExpanded || isShowing">Farmácias</span>
          </a>
        </mat-list-item>

        <mat-list-item class="top-menu" *ngIf="usuario.admin">
          <a href="#/usuarios-afiliados">
            <mat-icon mat-list-icon>badge</mat-icon>
            <span *ngIf="isExpanded || isShowing">Afiliados</span>
          </a>
        </mat-list-item>
        <mat-list-item class="top-menu">
          <a class="disabled">
            <mat-icon mat-list-icon>payments</mat-icon>
            <span *ngIf="isExpanded || isShowing">Assinaturas</span>
          </a>
        </mat-list-item>

        <mat-list-item class="top-menu">
          <a class="disabled">
            <mat-icon mat-list-icon>summarize</mat-icon>
            <span *ngIf="isExpanded || isShowing">Relatórios</span>
          </a>
        </mat-list-item>

        <mat-list-item class="top-menu" (click)="showSubmenu = !showSubmenu">
          <mat-icon style="color: #FFFFFF;" mat-list-icon>account_circle</mat-icon>
          <span class="disabled" style="color: #FFFFFF;" *ngIf="isExpanded || isShowing">Minha conta</span>
          <mat-icon style="color: #FFFFFF;" class="menu-button" [ngClass]="{'rotated' : showSubmenu}"
            *ngIf="isExpanded || isShowing">expand_more</mat-icon>
        </mat-list-item>
        <div style="color: #FFFFFF !important" class="submenu" [ngClass]="{'expanded' : showSubmenu}"
          *ngIf="isShowing || isExpanded">
          <a style="color: #FFFFFF !important" mat-list-item>
            <span style="color: #FFFFFF !important">Alterar dados</span>
          </a>
          <a style="color: #FFFFFF !important" mat-list-item>
            <span style="color: #FFFFFF !important">Configurações</span>
          </a>
          <a style="color: #FFFFFF !important" mat-list-item>
            <span style="color: #FFFFFF !important">Usuários do sistema</span>
          </a>
        
        </div>
      </mat-nav-list>
      <mat-nav-list>
      </mat-nav-list>
    </mat-sidenav>

    <div class="sidenav-content">
      <ng-content #name></ng-content>
    </div>

  </mat-sidenav-container>

</div> -->

<div class="menu-container">
  <mat-toolbar color="primary" class="menu-toolbar">
    <button class="button" *ngIf="onMenu"  mat-icon-button (click)="openNav()"><mat-icon>menu</mat-icon></button>
    <img class="img-desktop" src="assets/imgs/logo-branca.png" (click)="goHome();">
    <img class="img-mobile" src="assets/imgs/logo-branca.png" (click)="goHome();">
    <div class="buttons">
      <button  *ngIf="iniciaisLogado ===''" class="acessar" mat-raised-button color="primary">
        <mat-icon>account_circle</mat-icon>
        Acessar
      </button>
      <div *ngIf="iniciaisLogado !==''" class="container-iniciais" [matMenuTriggerFor]="menu">
        <span [matMenuTriggerFor]="menu" title='Logado como: {{usuarioLogado.nome}}'>{{iniciaisLogado}}</span>
      </div>
    </div>
    <mat-menu #menu="matMenu">
      <button  (click)="goMinhaConta()"  mat-menu-item *ngIf="onMenu" >
        <mat-icon>manage_accounts</mat-icon>
        <span>Configurações</span>
      </button>
      <button  (click)="goNovaSenha()" *ngIf="onMenu" mat-menu-item>
        <mat-icon>password</mat-icon>
        <span>Alterar senha</span>
      </button>
      <button (click)="onLogOut()" mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Sair</span>
      </button>
    </mat-menu>
    <mat-menu #menuNotification="matMenu">
      <button mat-menu-item>
        <mat-icon>notifications</mat-icon>
        <span>Minhas notificações</span>
      </button>
    </mat-menu>

  </mat-toolbar>
</div>

<div *ngIf="onMenu"  #mySidepanel id="mySidepanel" class="sidepanel">
  <div #divElements class="div-items" style="display: table;">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
  <a class="sidepanel__item-menu" (click)="closeNav()" mat-list-item href="#/dashboard"><mat-icon class="sidepanel__mat-icon-menu">dashboard</mat-icon><span class="item-menu">Dashboard</span></a>
  <a class="sidepanel__item-menu" (click)="closeNav()" mat-list-item href="#/empresas"><mat-icon class="sidepanel__mat-icon-menu">medical_services</mat-icon><span class="item-menu">Farmácias</span></a>
  <a *ngIf="admin || admin_sys" class="sidepanel__item-menu" (click)="closeNav()" mat-list-item href="#/usuarios-afiliados"><mat-icon class="sidepanel__mat-icon-menu">badge</mat-icon><span class="item-menu">Afiliados</span></a>
  <a class="sidepanel__item-menu" (click)="onLogOut()" mat-list-item href="#/usuarios-afiliados"><mat-icon class="sidepanel__mat-icon-menu">logout</mat-icon><span class="item-menu">Sair</span></a>
  </div>
  
</div>