@use './../../../style/tokens.scss'as *;

.front-zapfarma-dashboard {
    width: 100%;
    padding-top: 80px;

    .front-zapfarma-dashboard-container {
        width: 100%;
        position: relative;
        display: flex;
        gap: $space-small;
        ;

        &__dash {
            width: 100%;

            mat-card {
                border-radius: $space-medium;
                border: 0;
                min-height: 90vh;
                height: auto;
                box-shadow: 0px 0px 4px #e1e1e1;
            }
        }


    }

    table {
        width: 100%;
        min-width: 850px;
    }

    .mat-container {
        // height: 400px;
        width: 100%;
        max-width: 100%;
        overflow: auto;
    }

    .action-top {
        display: flex;
        justify-content: space-between;
        gap: $space-small;
        flex-wrap: wrap;
        mat-icon {
            vertical-align: middle;
        }
    }

    mat-form-field {
        width: 100%;
    }
    .link-editar {
        cursor: pointer;
    }

    @media (max-width: 768px) {
        padding-inline: $space-small;

        .front-zapfarma-dashboard-container {
            flex-direction: column;
        }

        mat-card {
            min-height: 0;
        }
    }
}
