<front-zapfarma-toolbar></front-zapfarma-toolbar>
<div class="front-zapfarma-sobre">

 <section class="front-zapfarma-sobre__container_01" id="front-zapfarma-sobre__container_01">
        <div class="front-zapfarma-sobre__container_01__camada">
            <div class="front-zapfarma-sobre__container_01__titulo">
               <div class="container">
                    <h1>Missão, Visão e Valores</h1>

                        <section class="mvw">
                            <div class="mvw__item">
                                <h3>Missão</h3>
                                <p>Garantir a satisfação total do cliente por meio de atendimento qualificado promovendo a saúde e o bem-estar de todos, visando aprimorar os serviços prestados à população.</p>
                            </div>
                            <div class="mvw__item">
                                <h3>Visão</h3>
                                <p>Conquistar a confiança do cliente e manter sua fidelidade através da ética, observando as particularidades, independente da classe social, oferecendo produtos e serviços de excelência e contribuindo por uma vida com mais saúde.</p>
                            </div>
                            <div class="mvw__item">
                                <h3>Valores</h3>
                                <ul>
                                    <li>Atendimento de Qualidade</li>
                                    <li>Dedicação</li>
                                    <li>Respeito</li>
                                    <li>Profissionalismo</li>
                                    <li>Trabalho em equipe</li>
                                    <li>Trabalho Estratégico</li>
                                    <li>Ética</li>
                                    <li>Responsabilidade</li>
                                    <li>Integridade</li>
                                    <li>Rentabilidade</li>
                                </ul>
                            </div>
                        </section>
                </div> 
            </div>
            <!-- <div class="front-zapfarma-sobre__container_10__resultado">
                <div class="duvidas">
                    
                    <img src="assets/imgs/drogaria-anna-cintra-logo.svg" alt="Drogaria Anna Cintra" />
                </div>
            </div> -->
            
        </div>
        
    </section>
    
</div>
<front-zapfarma-rodape></front-zapfarma-rodape>
