<div class="front-zapfarma-planos-assinaturas">
  <div class="front-zapfarma-planos-assinaturas__titulo">
      <h1>Nossos planos</h1>
      <p>* Assinaturas mensais</p>
  </div>
  <div class="front-zapfarma-planos-assinaturas__solucoes">
      <div class="front-zapfarma-planos-assinaturas__solucoes__freemium">
          <table colpan="0" rowspan="0">
              <tr>
                  <td class="td-topo">
                      <p>
                          <mat-icon mat-list-icon>
                              sell
                          </mat-icon>
                          Freemium
                      </p>
                  </td>
              </tr>
              <tr>
                  <td class="td-normal">
                      <p>
                          <mat-icon mat-list-icon>
                              check_circle
                          </mat-icon>
                          Cadastro e Perfil Básico: Cadastro na plataforma com endereço e informações básicas.
                      </p>
                  </td>
              </tr>
              <tr>
                  <td class="td-color">
                      <p>
                          <mat-icon mat-list-icon>
                              check_circle
                          </mat-icon>
                          Listagem Limitada de Produtos: Até 10 produtos com preço e descrição.
                      </p>
                  </td>
              </tr>
              <tr>
                  <td class="td-normal">
                      <p>
                          <mat-icon mat-list-icon>
                              check_circle
                          </mat-icon>
                          Contato com Cliente: Link direto para do WhatsApp farmácia (Plataforma ZAPFARMA).
                      </p>
                  </td>
              </tr>
              <tr>
                  <td class="td-color">
                      <p>
                          <mat-icon mat-list-icon>
                              check_circle
                          </mat-icon>
                          Recebimento de Pedidos por Imagem e Áudio: Recebe imagens e áudios dos clientes, limitado a 30 usuários por mês.
                      </p>
                  </td>
              </tr>
              <tr>
                  <td class="td-normal">
                      <p>
                          <mat-icon mat-list-icon>
                              check_circle
                          </mat-icon>
                          Avaliações Básicas: Exibição de até 10 avaliações (apenas atendimento, preço e entrega).
                      </p>
                  </td>
              </tr>
              <tr>
                  <td class="td-color">
                      <p>
                          <mat-icon mat-list-icon>
                              check_circle
                          </mat-icon>
                          Recebimento de Pedidos por Imagem e Áudio: Recebe imagens e áudios dos clientes, limitado a 30 usuários por mês.
                      </p>
                  </td>
              </tr>
              <tr>
                  <td class="td-normal">
                      <p>
                          <mat-icon mat-list-icon>
                              check_circle
                          </mat-icon>
                          Benefícios de Compartilhamento para Usuário: Usuários podem compartilhar avaliações para ganhar cupons no Instagram.
                      </p>
                  </td>
              </tr>
              <tr>
                  <td class="td-color">
                      <p>
                          <mat-icon mat-list-icon>
                              check_circle
                          </mat-icon>
                          Relatório Básico: Resumo mensal com número de contatos via WhatsApp e visualizações de produtos.
                      </p>
                  </td>
              </tr>
              <tr>
                  <td class="td-final">
                      <p>
                         Grátis
                      </p>
                      <span>Para farmácias que querem testar a plataforma sem custo.</span>
                  </td>
              </tr>
          </table>
          <div class="assinar">
            <button mat-raised-button>Assinar</button>
        </div>
      </div>
      <div class="front-zapfarma-planos-assinaturas__solucoes__basico">
          <table colpan="0" rowspan="0">
              <tr>
                  <td class="td-topo">
                      <p>
                          <mat-icon mat-list-icon>
                              chat
                          </mat-icon>
                          Básico
                      </p>
                  </td>
              </tr>
              <tr>
                  <td class="td-normal">
                      <p>
                          <mat-icon mat-list-icon>
                            add_circle
                          </mat-icon>
                          Inclui todas as funcionalidades do Plano Freemium
                      </p>
                  </td>
              </tr>
              <tr>
                  <td class="td-color">
                      <p>
                          <mat-icon mat-list-icon>
                              check_circle
                          </mat-icon>
                          Cadastro Completo e Visibilidade Local Ampliada: Exibição priorizada na plataforma dentro de um raio de até 10 km.
                      </p>
                  </td>
              </tr>
              <tr>
                  <td class="td-normal">
                      <p>
                          <mat-icon mat-list-icon>
                              check_circle
                          </mat-icon>
                          Listagem Ampliada de Produtos: Até 20 produtos com preço e descrição detalhada.
                      </p>
                  </td>
              </tr>
              <tr>
                  <td class="td-color">
                      <p>
                          <mat-icon mat-list-icon>
                              check_circle
                          </mat-icon>
                          Botão de Contato e Indicação de Negociação: Indica se a farmácia aceita negociação de preços com os usuários.
                      </p>
                  </td>
              </tr>
              <tr>
                  <td class="td-normal">
                      <p>
                          <mat-icon mat-list-icon>
                              check_circle
                          </mat-icon>
                          Recebimento Ilimitado de Pedidos por Imagem e Áudio: Capacidade de receber imagens e áudios de clientes sem limite de quantidade.
                      </p>
                  </td>
              </tr>
              <tr>
                  <td class="td-color">
                      <p>
                          <mat-icon mat-list-icon>
                              check_circle
                          </mat-icon>
                          Avaliações Expandidas: Exibição ilimitada de avaliações, incluindo atendimento, preço, entrega, e reputação.
                      </p>
                  </td>
              </tr>
              <tr>
                  <td class="td-normal">
                      <p>
                          <mat-icon mat-list-icon>
                              check_circle
                          </mat-icon>
                          Relatório Básico Ampliado: Relatório mensal detalhado sobre produtos mais visualizados e feedbacks dos clientes.
                      </p>
                  </td>
              </tr>
              <tr>
                  <td class="td-color">
                      <p>
                          <mat-icon mat-list-icon>
                              check_circle
                          </mat-icon>
                          Campanhas de Marketing Simples: Disparo de até 2 campanhas mensais via WhatsApp, com mensagens limitadas por campanha.
                      </p>
                  </td>
              </tr>
              <tr>
                  <td class="td-final">
                      <p>
                          R$ 99,90/mês
                      </p>
                      <span>Para farmácias que buscam maior visibilidade e capacidade de atendimento.</span>
                  </td>
              </tr>
          </table>
          <div class="assinar">
            <button mat-raised-button>Assinar</button>
        </div>
      </div>
      <div class="front-zapfarma-planos-assinaturas__solucoes__profissional">
        <table colpan="0" rowspan="0">
            <tr>
                <td class="td-topo">
                    <p>
                        <mat-icon mat-list-icon>
                            workspace
                        </mat-icon>
                        Profissional
                    </p>
                </td>
            </tr>
            <tr>
                <td class="td-normal">
                    <p>
                        <mat-icon mat-list-icon>
                            add_circle
                        </mat-icon>
                        Inclui todas as funcionalidades do Plano Básico.
                    </p>
                </td>
            </tr>
            <tr>
                <td class="td-color">
                    <p>
                        <mat-icon mat-list-icon>
                            check_circle
                        </mat-icon>
                        Integração com Sistema de Gestão: Sincronização com o sistema da farmácia (estoque, pedidos e caixa) via API.
                    </p>
                </td>
            </tr>
            <tr>
                <td class="td-normal">
                    <p>
                        <mat-icon mat-list-icon>
                            check_circle
                        </mat-icon>
                        Perfil Avançado do Usuário: Acesso a dados detalhados do cliente, incluindo ticket médio, histórico de compras, sazonalidade e perfil de dependentes.
                    </p>
                </td>
            </tr>
            <tr>
                <td class="td-color">
                    <p>
                        <mat-icon mat-list-icon>
                            check_circle
                        </mat-icon>
                        Recomendações Personalizadas de Produtos: Sugestões automáticas de produtos complementares ao perfil de compra do usuário.
                    </p>
                </td>
            </tr>
            <tr>
                <td class="td-normal">
                    <p>
                        <mat-icon mat-list-icon>
                            check_circle
                        </mat-icon>
                        Campanhas de Marketing Segmentadas: Disparo de até 5 campanhas mensais via WhatsApp, com segmentação e volume moderado de mensagens.
                    </p>
                </td>
            </tr>
            <tr>
                <td class="td-color">
                    <p>
                        <mat-icon mat-list-icon>
                            check_circle
                        </mat-icon>
                        Treinamento de Equipe via IA: Acesso a treinamentos contínuos para funcionários em atendimento e gestão.
                    </p>
                </td>
            </tr>
            <tr>
                <td class="td-normal">
                    <p>
                        <mat-icon mat-list-icon>
                            check_circle
                        </mat-icon>
                        Dashboard e Relatórios em Tempo Real: Acompanhamento dos KPIs de vendas, crescimento e metas em um painel interativo.
                    </p>
                </td>
            </tr>
            <tr>
                <td class="td-color">
                    <p>
                        <mat-icon mat-list-icon>
                            check_circle
                        </mat-icon>
                        Metas de Crescimento com Sugestões da IA: Definição e acompanhamento de metas com sugestões estratégicas baseadas em dados históricos.
                    </p>
                </td>
            </tr>
            <tr>
                <td class="td-final">
                    <p>
                        R$ 199,90/mês
                    </p>
                    <span>Para farmácias em crescimento que buscam automação e análise de dados.</span>
                </td>
            </tr>
        </table>
        <div class="assinar">
            <button mat-raised-button>Assinar</button>
        </div>
      </div>
      <div class="front-zapfarma-planos-assinaturas__solucoes__basico">
        <table colpan="0" rowspan="0">
            <tr>
                <td class="td-topo">
                    <p>
                        <mat-icon mat-list-icon>
                            workspace_premium
                        </mat-icon>
                        Premium
                    </p>
                </td>
            </tr>
            <tr>
                <td class="td-normal">
                    <p>
                        <mat-icon mat-list-icon>
                            add_circle
                        </mat-icon>
                        Inclui todas as funcionalidades do Plano Profissional.
                    </p>
                </td>
            </tr>
            <tr>
                <td class="td-color">
                    <p>
                        <mat-icon mat-list-icon>
                            check_circle
                        </mat-icon>
                        Integração Completa e Personalizável: Compatibilidade total com sistemas de gestão e CRM, adaptável a necessidades específicas.
                    </p>
                </td>
            </tr>
            <tr>
                <td class="td-normal">
                    <p>
                        <mat-icon mat-list-icon>
                            check_circle
                        </mat-icon>
                        Automação Completa de Marketing: Campanhas de marketing ilimitadas via WhatsApp, com segmentação detalhada por perfil, localização e histórico de compras.
                    </p>
                </td>
            </tr>
            <tr>
                <td class="td-color">
                    <p>
                        <mat-icon mat-list-icon>
                            check_circle
                        </mat-icon>
                        Relatórios Avançados e Personalizados: Relatórios detalhados sobre vendas, sazonalidade e comportamento dos clientes.
                    </p>
                </td>
            </tr>
            <tr>
                <td class="td-normal">
                    <p>
                        <mat-icon mat-list-icon>
                            check_circle
                        </mat-icon>
                        Suporte Exclusivo e Prioritário 24/7: Atendimento especializado em qualquer momento, incluindo suporte técnico e estratégico.
                    </p>
                </td>
            </tr>
            <tr>
                <td class="td-color">
                    <p>
                        <mat-icon mat-list-icon>
                            check_circle
                        </mat-icon>
                        Desenvolvimento Avançado de Equipe: Programas de desenvolvimento contínuo para funcionários de todas as áreas (atendimento, vendas e marketing).
                    </p>
                </td>
            </tr>
            <tr>
                <td class="td-normal">
                    <p>
                        <mat-icon mat-list-icon>
                            check_circle
                        </mat-icon>
                        IA para Metas e Acompanhamento Proativo: Interação ativa da IA com o gestor, ajustando metas e propondo ações estratégicas.
                    </p>
                </td>
            </tr>
            <tr>
                <td class="td-color">
                    <p>
                        <mat-icon mat-list-icon>
                            check_circle
                        </mat-icon>
                        Ranking e Benchmarking: Comparativo de performance com outros estabelecimentos e recomendações de melhorias.
                    </p>
                </td>
            </tr>
            <tr>
                <td class="td-final">
                    <p>
                        R$ 999,90/mês
                    </p>
                    <span>Para grandes redes farmacêuticas que buscam soluções completas e personalizadas.</span>
                </td>
            </tr>
        </table>
        <div class="assinar">
            <button mat-raised-button>Assinar</button>
        </div>
      </div>
  </div>

</div>