<div class="front-zapfarma-esqueceu-senha">
  <div class="front-zapfarma-esqueceu-senha__image-login">
    <h1>Zapfarma [IA]</h1>
  </div>
  <div class="front-zapfarma-esqueceu-senha__login">
    <div class="container">
      <mat-card class="example-card" appearance="outlined">
        <mat-card-content>
          <h1 class="h1-mobile">Zapfarma [IA]</h1>
          <div class="container__subtitle">
            <front-zapfarma-header title="Esqueceu sua senha?"></front-zapfarma-header>
            <p>Digite seu endereço de email.</p>
            <p>Você receberá um link para criar uma nova senha via email.</p>
          </div>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>senha</mat-label>
              <input matInput placeholder="Informe sua senha">
            </mat-form-field>
            <!-- <mat-form-field class="example-full-width">
              <mat-label>senha</mat-label>
              <input matInput placeholder="Informe sua senha">
            </mat-form-field> -->
          
          </form>    
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button>Recuperar minha senha</button>
            <button mat-stroked-button (click)="voltarLogin()">ou faça seu login agora!</button>
        </mat-card-actions>
      </mat-card>


    </div>

  </div>
</div>