@use './../../../style/tokens.scss'as *;

.front-zapfarma-login {
    width: 100%;
    display: flex;
    position: relative;

    &__image-login {
        background-color: $primary-palette-variant3;
        width: 40%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__login {
        background-color: $color-background-wh;
        width: 60%;
        height: 100vh;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .h1-mobile {
        display: none;
    }

    @media (max-width: 750px) {
        &__image-login {
            display: none;
        }

        &__login { 
            width: 90%;
            margin: 0 auto;
        }

        .h1-mobile {
            display: block;
            width: 100%;
            margin: 0 auto;
            text-align: center;
        }
    }

    .mat-mdc-form-field {
        width: 100%;
    }

    .mat-mdc-card-actions {
        display: grid;
    }

    .mat-mdc-card-outlined {
        border-color: transparent;
    }

    .mat-mdc-card-content {
        // padding: 0;
    }

    .mat-mdc-card-actions {
        padding: $space-medium;
        gap: $space-large;
    }
}