<div class="front-zapfarma-login">
  <div class="front-zapfarma-login__image-login">
    <h1>Zapfarma [IA]</h1>
  </div>
  <div class="front-zapfarma-login__login">
    <div>

      <mat-card class="example-card" appearance="outlined">
        <mat-card-content>
          <h1 class="h1-mobile">Zapfarma [IA]</h1>
          <front-zapfarma-header title="Primeiro acesso"></front-zapfarma-header>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>email</mat-label>
              <input matInput placeholder="Digite o email de compra">
            </mat-form-field>
      
            <mat-form-field class="example-full-width">
              <mat-label>senha</mat-label>
              <input matInput placeholder="Informe sua senha">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>repita a senha</mat-label>
              <input matInput placeholder="Informe sua senha">
            </mat-form-field>
          
          </form>    
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button>Cadastrar</button>
            <button mat-stroked-button>Voltar</button>
        </mat-card-actions>
      </mat-card>


    </div>

  </div>
</div>