$primary-color: #0b4aa8;
$primary-palette-variant1: #1c63c7;
$primary-palette-variant2: #1a57ad;
$primary-palette-variant3: #123b7c;
$primary-palette-variant5: #1c63c7;
$primary-palette-variant4: #edf3ff;
$secondary-color: #c40000;
$secondary-color-light: #f2b3b3;
$primary-color-light: #5f82c9;
$secondary-contrast-color: #7a0000;
$gray-palette-strong: #9e9e9e;
$gray-palette: #f9f9f9;
$gray-palette-topo: #e4e4e4;
$error-campo: #fe4b3b;
$primary-button-color: #0b4aa8;
$primary-button-color: #0b4aa8;
$secondary-color-font: #c40000;


$color-text-wh: #ffffff;
$color-text-bk: #000000;
$color-text-02: #6ABE50;
$color-wh: #ffffff;
$color-background-bk: #000000;
$color-background-wh: #ffffff;

$font-size-medium: 14px;
$font-size-s-medium: 16px;
$font-size-small: 12px;
$font-size-x-small: 10px;
$font-size-xx-small: 9px;
$font-size-large: 18px;
$font-size-large-20: 20px;
$font-size-x-large: 24px;
$font-size-xx-large: 32px;
$font-size-xs-large: 40px;
$font-size-xss-large: 60px;

$space-medium: 16px;
$space-s-medium: 12px;
$space-small: 8px;
$space-large: 24px;
$space-x-large: 32px;
$space-xs-large: 48px;

.mat-mdc-raised-button:not(:disabled) {
    background-color: $primary-button-color !important;
    color: #ffffff;
    border-radius: 20px;
}
