<front-zapfarma-toolbar></front-zapfarma-toolbar>
<div class="front-zapfarma-home">
    <section class="front-zapfarma-home__container_01">
        <div class="front-zapfarma-home__container_01__titulo">
            <h1>
               Bem Vindo parceiro Zapfarma
            </h1>
            <p class="sub-titulo">
                O nosso compromisso é trabalhar para aumentar suas vendas e deixar seus clientes satisfeitos.
            </p>
        </div>
        <div class="front-zapfarma-home__container_01__wp">
            <div class="elementor-column elementor-col-40 elementor-inner-column elementor-element elementor-element-51250ae" data-id="51250ae" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;none&quot;}">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-b9985ed FBTH-addons-sticky-no elementor-widget elementor-widget-video" data-id="b9985ed" data-element_type="widget" data-settings="" data-widget_type="video.default">
                        <div class="elementor-widget-container" style="overflow: inherit;">
                            <div class="camada1">
                                <div class="camada2">
                                    <div class="camada3">
                                        <div class="camada4">
                                            <iframe src="https://www.youtube.com/embed/dTVolVhQCPY" class="video" frameborder="0"></iframe>
                                        </div>
                                    </div>
                                    <div class="device-header">
                                        
                                    </div>
                                    <div class="sensor"></div>
                                    <div class="btns"></div>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
        
    </section>
    <section class="front-zapfarma-home__container_02">
        <!-- <front-zapfarma-planos-assinaturas></front-zapfarma-planos-assinaturas> -->
    </section>
    <!-- <div>
        <input type="text">
        <button (click)="buscaCep()">Calcular</button>
    </div> -->
</div>

