<front-zapfarma-toolbar></front-zapfarma-toolbar>
<div class="front-zapfarma-home">
    <section class="front-zapfarma-home__container_01" id="front-zapfarma-home__container_01">
        <div class="front-zapfarma-home__container_01__camada">
            <div class="front-zapfarma-home__container_01__titulo">
                <h1>Enquanto o balconista digita "Bom dia", a IA já fechou o pedido.</h1>
                <p class="sub-titulo">
                    Chega de perder vendas! A IA da Zapfarma transforma seu WhatsApp no balcão mais eficiente da sua
                    farmácia, vendendo 24 horas por dia, 7 dias por semana, com total segurança e sem complicação.
                </p>

                <div class="front-zapfarma-home__container_01__titulo__botao">
                    <a style="color: #ffffff;" href="#front-zapfarma-home__container_10"><p>Agende uma Demonstração Gratuita e Veja Sua Farmácia Vender Mais!</p></a>
                </div>
            </div>
            <div class="front-zapfarma-home__container_01__image">
                <img src="assets/imgs/img-whats.png" alt="IA Zapfarma" />
            </div>
        </div>
    </section>
    <section class="front-zapfarma-home__container_02" id="front-zapfarma-home__container_02">
        <div class="front-zapfarma-home__container_02__camada">
            <div class="front-zapfarma-home__container_02__titulo">
                <h2>Todo dia, farmácias perdem vendas por um motivo simples:</h2>
                <div>
                    <ul class="lista">
                        <li>Atendimento lento.</li>
                        <li>Resposta que não chega.</li>
                        <li>Cliente que desiste.</li>
                    </ul>
                    <h2>
                        Colocando a automação com IA sua farmácia
                    </h2>
                    <ul class="lista">
                        <li>Sem depender de funcionário.</li>
                        <li>Sem perder venda fora do horário.</li>
                        <li>Sem sumir da conversa.</li>
                    </ul>
                    <p class="sub-titulo">
                        É como ter um funcionário que:
                    </p>
                    <ul class="lista">
                        <li>Não atrasa,</li>
                        <li>Não fica doente,</li>
                        <li>Não some na hora do pico.</li>
                    </ul>
                    <p class="sub-titulo">
                        Agora, você vai focar em aumentar o marketing sabendo que todos os clientes serão atendidos
                    </p>
                    <div class="front-zapfarma-home__container_02__titulo__botao">
                        <a style="color: #005cbb;" href="#front-zapfarma-home__container_10"><p>Fale com nossa equipe agora</p></a>
                    </div>
                </div>

            </div>
            <div class="front-zapfarma-home__container_02__wp">
                <!-- <div class="elementor-column elementor-col-40 elementor-inner-column elementor-element elementor-element-51250ae"
                    data-id="51250ae" data-element_type="column"
                    data-settings="{&quot;animation&quot;:&quot;none&quot;}">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-b9985ed FBTH-addons-sticky-no elementor-widget elementor-widget-video"
                            data-id="b9985ed" data-element_type="widget" data-settings=""
                            data-widget_type="video.default">
                            <div class="elementor-widget-container" style="overflow: inherit;">
                                <div class="camada1">
                                    <div class="camada2">
                                        <div class="camada3">
                                            <div class="camada4">
                                                <iframe src="https://cms-public-artifacts.artlist.io/content/motion-array/2980340/PRD-2980340-IaA5f87K3Qxf1WZN-original_playlist_1731596724.m3u8" class="video"
                                                    frameborder="0"></iframe>
                                            </div>
                                        </div>
                                        <div class="device-header">

                                        </div>
                                        <div class="sensor"></div>
                                        <div class="btns"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

            </div>
        </div>
    </section>
    <section id="front-zapfarma-home__container_03" class="front-zapfarma-home__container_03">
        <div class="front-zapfarma-home__container_03__camada">
            <div class="front-zapfarma-home__container_03__titulo">
                <h2> 3 Passos Simples: Mais Vendas, Menos Trabalho</h2>
            </div>
            <div class="front-zapfarma-home__container_03__camada__passos">
                <div class="front-zapfarma-home__container_03__camada__passos__item">
                    <img src="assets/imgs/conecte.png" alt="IA Zapfarma" />
                    <p class="titulo">Conecte & Configure</p>
                    <p>Agende uma Demonstração Gratuita e Veja Sua Farmácia Vender Mais!</p>
                </div>
                <div class="front-zapfarma-home__container_03__camada__passos__item">
                    <img src="assets/imgs/automatize.png" alt="IA Zapfarma" />
                    <p class="titulo">Automatize & Venda</p>
                    <p>Nossa IA assume o atendimento no WhatsApp, pesquisando produtos e fechando pedidos. Seu cliente
                        compra rápido e sua equipe ganha tempo.</p>
                </div>
                <div class="front-zapfarma-home__container_03__camada__passos__item">
                    <img src="assets/imgs/monitore.png" alt="IA Zapfarma" />
                    <p class="titulo">Monitore & Cresça</p>
                    <p>Acompanhe o desempenho, veja relatórios claros e simples, e tome decisões para crescer ainda
                        mais. A IA também te avisa se seu número precisar de atenção.</p>
                </div>
            </div>
            <!-- <div class="front-zapfarma-home__container_03__image">
                <img src="assets/imgs/img-whats.png" alt="IA Zapfarma" />
            </div> -->
        </div>
    </section>
    
    <section class="front-zapfarma-home__container_04" id="front-zapfarma-home__container_04">
      <div class="front-zapfarma-home__container_04__topo">
        <h2>Tecnologia que gera resultados reais</h2>
        <p>
          Sabemos que o cliente faz várias cotações ao mesmo tempo, então quem responde mais
          <span class="destaque">rápido</span> e <span class="destaque">melhor</span> vende mais
        </p>
      </div>
      <div class="front-zapfarma-home__container_04__camada">
        <div class="front-zapfarma-home__container_04__titulo">
          <form [formGroup]="calcForm">
            <h2>Calculadora de desempenho</h2>
            <span>Quantos pedidos chegam pelo whatsapp no mês</span>
            <div class="input">
              <input type="text" formControlName="pedidos" mask="separator.2" thousandSeparator="." decimalMarker="," placeholder="400" 
             [ngClass]="{'invalid': calcForm.get('pedidos')?.invalid && calcForm.get('pedidos')?.touched}"/>
            </div>
            <span>Quantas vendas são fechadas pelo whatsapp no mês?</span>
            <div class="input">
              <input type="text" formControlName="vendas" mask="separator.2" thousandSeparator="." decimalMarker="," placeholder="100"
              [ngClass]="{'invalid': calcForm.get('vendas')?.invalid && calcForm.get('vendas')?.touched}" />
            </div>
            <span>Qual o ticket médio das vendas pelo whatsapp</span>
            <div class="input">
              <input type="text" formControlName="ticket" placeholder="R$ 200,00" (input)="onTicketInput($event)"
              [ngClass]="{'invalid': calcForm.get('ticket')?.invalid && calcForm.get('ticket')?.touched}" />
            </div>
          </form>
           <div class="front-zapfarma-home__container_04__resultado__botao">
            <button type="button" (click)="calcular()">Quero esses resultados</button>
          </div>
          <p class="disclaimer">
            Cálculo baseado em dados de crescimento médio das vendas em 15 pontos percentuais sobre a conversão atual da farmácia.
          </p>
        </div>
        <div class="front-zapfarma-home__container_04__resultado">
          <h2>Resultado</h2>
          <div class="front-zapfarma-home__container_04__resultado__tabela" >
            <div class="line">
              <span>Conversão atual dos pedidos</span>
              <span class="value">
                {{ mostraResultado && conversaoAtual !== null ? (conversaoAtual | number:'1.2-2') + '%' : '–' }}
              </span>
            </div>
            <div class="line">
              <span>Faturamento atual no whatsapp</span>
              <span class="value">
                {{ mostraResultado && faturamentoAtual !== null ? (faturamentoAtual | currency:'BRL':'symbol':'1.2-2') : '–' }}
              </span>
            </div>
            <div class="line">
              <span>Conversão com Zapfarma</span>
              <span class="value">
                {{ mostraResultado && conversaoZapfarma !== null ? (conversaoZapfarma | number:'1.2-2') + '%' : '–' }}
              </span>
            </div>
            <div class="line">
              <span>Faturamento com Zapfarma no whatsapp</span>
              <span class="value">
                {{ mostraResultado && faturamentoZapfarma !== null ? (faturamentoZapfarma | currency:'BRL':'symbol':'1.2-2') : '–' }}
              </span>
            </div>
            <div class="line">
              <span>Crescimento no faturamento</span>
              <span class="value">
                {{ mostraResultado && crescimento !== null ? (crescimento | currency:'BRL':'symbol':'1.2-2') : '–' }}
              </span>
            </div>
          </div>
         
        </div>
      </div>
    </section>
    <section class="front-zapfarma-home__container_05" id="front-zapfarma-home__container_05">
        <div class="front-zapfarma-home__container_05__camada">
            <div class="front-zapfarma-home__container_05__titulo">
                <h2>O WhatsApp da Sua Farmácia: Agora, com o Selo de Segurança e Profissionalismo da Meta.</h2>
                <img src="assets/imgs/logo-meta.png" alt="IA Zapfarma" />
                <p>Chega de viver com o medo do banimento!
                    Traga para seu negócio a tranquilidade da <strong class="meta">API Oficial do WhatsApp
                        (Meta).</strong> Sua comunicação livre de bloqueios, suas vendas crescendo
                    e sua credibilidade no topo.</p>
                <div class="front-zapfarma-home__container_05__resultado__botao">
                    <a href="#front-zapfarma-home__container_10"><p>Tire suas dúvidas com nossos especialistas</p></a>
                </div>

            </div>
            <div class="front-zapfarma-home__container_05__resultado">
                <div class="front-zapfarma-home__container_05__resultado__tabela">
                    <div class="front-zapfarma-home__container_05__resultado__tabela__item">
                        <div class="line">
                            <div>Vendas Automatizadas 24/7</div>
                            <div class="value">Sua Inteligência Artificial atende,
                                entende o pedido, consulta estoque, sugere ofertas
                                personalizadas e fecha a venda direto no WhatsApp,
                                a qualquer hora do dia ou da noite. É como ter
                                um funcionário que nunca atrasa, não fica doente e
                                nunca esquece de responder!</div>
                        </div>
                        <div class="line">
                            <div>Pós-Venda Inteligente: Impulsione a Recompra</div>
                            <div class="value">Sua IA não para na venda. Ela segmenta seus clientes (ex: diabéticos,
                                hipertensos) e envia promoções e lembretes de recompra personalizados, de forma segura e
                                aprovada pelo WhatsApp, impulsionando a fidelidade e o faturamento.</div>
                        </div>
                        <div class="line">
                            <div>Segurança Anti-Banimento: Seu Número Protegido</div>
                            <div class="value">Diferente de outras ferramentas, a Zapfarma utiliza a WhatsApp Business
                                Cloud API oficial da Meta, a mais robusta e segura. Isso significa que suas conversas
                                são profissionais e seu número está protegido contra bloqueios.</div>
                        </div>
                    </div>
                    <div class="front-zapfarma-home__container_05__resultado__tabela__item">
                        <div class="line">
                            <div>Monitoramento Ativo da Qualidade do Número</div>
                            <div class="value">Exclusivo Zapfarma! Monitore o 'Status de Qualidade' do seu WhatsApp
                                (Verde, Amarelo, Vermelho) em um painel simples. Receba alertas proativos para agir
                                antes que um problema se agrave e proteja seu ativo mais valioso.</div>
                        </div>
                        <div class="line">
                            <div>Integração Perfeita com Seu Sistema</div>
                            <div class="value">Conectamos a Zapfarma ao seu sistema (como Alpha 7), garantindo que cada
                                pedido seja registrado, conferido e faturado sem dores de cabeça. Transparência e
                                eficiência do início ao fim.</div>
                        </div>
                        <div class="line">
                            <div>Gestão Simplificada para Múltiplas Unidades</div>
                            <div class="value">Seja uma única farmácia ou uma rede, a Zapfarma oferece flexibilidade
                                para gerenciar cada operação de forma otimizada. Podemos customizar a solução para suas
                                necessidades específicas.</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="front-zapfarma-home__container_06" id="front-zapfarma-home__container_06">
        <h2>Quem já está vendendo mais com a Zapfarma:</h2>
        <div class="front-zapfarma-home__container_06__camada">
            <div class="front-zapfarma-home__container_06__titulo">
                <div class="front-zapfarma-home__container_06__titulo__item">
                    <img src="assets/imgs/logo-ultra.png" alt="IA Zapfarma" />
                    <p>“Ver o cupom de venda sair automaticamente no caixa
                        sem precisar do balconista e pronto para separar para entrega, não tem preço.”
                    </p>
                    <p style="font-weight: bold;">Cristiano Lima dono de 12 farmácias no RJ</p>
                </div>
            </div>
            <div class="front-zapfarma-home__container_06__resultado">
                <div class="front-zapfarma-home__container_06__resultado__item">
                    <img src="assets/imgs/logo-dona-farma.png" alt="IA Zapfarma" />
                    <p>
                        “Conseguimos dobrar a conversão dos meus atendimentos em vendas no whatsapp com essa IA.”
                    </p>
                    <p style="font-weight: bold;">Michele Maia Farmácia no RJ</p>
                </div>
            </div>
        </div>
        <div class="front-zapfarma-home__container_06__resultado__botao">
            <a style="color: #8ae5fb;" href="#front-zapfarma-home__container_10"><p>
                <strong>TOQUE AQUI</strong> e veja como funciona
            </p></a>
        </div>
    </section>
    <section class="front-zapfarma-home__container_07" id="front-zapfarma-home__container_07">
        <div class="front-zapfarma-home__container_07__camada">
            <div class="front-zapfarma-home__container_07__titulo">
                <div class="front-zapfarma-home__container_07__titulo__item">
                    <p class="titulo">Integração com os melhores sistemas</p>
                    <p>Nossa automação está integrada ao sistema Alpha7, isso nos possibilita:</p>
                    <ul>
                        <li>Buscar dados de preço e estoque em tempo real</li>
                        <li>Cadastrar clientes automaticamente</li>
                        <li>Consultar suas campanhas e promoções. </li>
                    </ul>
                    <p>Nossa solução vai além:</p>
                    <ul>
                        <li>Finaliza todo o processo de venda</li>
                        <li>Entende áudio, imagem e lê receitas</li>
                        <li>Faz o pós-venda para clientes cadastrados</li>
                        <li>Emite o cupom direto para o caixa do pedido</li>
                    </ul>
                    <div class="botao">Menos cliques | mais velocidade</div>
                </div>
            </div>
            <div class="front-zapfarma-home__container_07__resultado">
                <div class="front-zapfarma-home__container_07__resultado__item">
                    <img src="assets/imgs/alpha7.png" alt="IA Zapfarma" />
                </div>
                <h2 style="font-size: 16px;">Sua Gestão Potencializada: Zapfarma Conecta IA ao Seu ERP e Finaliza Vendas
                    no Caixa.</h2>

            </div>
        </div>
    </section>
    <section class="front-zapfarma-home__container_08" id="front-zapfarma-home__container_08">
        <div class="front-zapfarma-home__container_08__camada">
            <div class="front-zapfarma-home__container_08__titulo">
                <h2>Invista na Venda Inteligente e na Segurança da Sua Farmácia.</h2>
                <div class="front-zapfarma-home__container_08__titulo__item">
                    <p class="titulo">Plano Premium</p>
                    <span>Com Automação IA e Segurança Total</span>
                    <ul>
                        <li>Atendimento por IA para até 20.000 atendimentos/mês</li>
                        <li>IA de Vendas Completa</li>
                        <li>IA de Pós-Venda e Promoções Inteligentes</li>
                        <li>Integração completa com seu ERP</li>
                        <li>Gestão otimizada para múltiplas unidades/CNPJs</li>
                        <li>Monitoramento Ativo da Qualidade do Número</li>
                        <li>Operação 100% na WhatsApp Business Cloud API oficial da Meta</li>
                        <li>Suporte prioritário e atualizações contínuas</li>
                    </ul>
                    <div class="botao">Escolher o premium</div>
                </div>
            </div>
            <div class="front-zapfarma-home__container_08__resultado">
                <h2 style="font-size: 16px;">A Zapfarma não é um custo, é um investimento inteligente que se reflete
                    diretamente no seu faturamento e na eficiência da sua operação. Escolha o plano ideal para você:
                </h2>
                <div class="front-zapfarma-home__container_08__resultado__item">
                    <p class="titulo">Plano MicroSaas</p>
                    <span>Gestão de Leads sem Automação IA</span>
                    <div class="valor">
                        R$ 299/mes
                    </div>
                    <ul>
                        <li>Plataforma para gestão de leads e pedidos</li>
                        <li>❌ Não inclui automação com IA para atendimento</li>

                    </ul>
                    <div class="botao">Escolher Microsaas</div>
                </div>
            </div>
        </div>
    </section>
    <section class="front-zapfarma-home__container_09" id="front-zapfarma-home__container_09">
        <div class="front-zapfarma-home__container_09__camada">
            <div class="front-zapfarma-home__container_09__titulo">
                <h2>Perguntas mais comuns:</h2>
                <mat-accordion class="example-headers-align" multi>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-icon>question_answer</mat-icon>A Zapfarma é compatível com meu sistema atual?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div>
                            <p>Já realizamos integrações com o sistema Alpha 7 e caso sua farmácia use outro sistema,
                                nosso time pode desenvolver sem custos com seu ERP essa integração, isso é fundamental
                                para a autonomia da venda, pois precisamos consultar estoque, preços, campanhas,
                                cadastro de clientes e finalização de pedidos.</p>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-icon>question_answer</mat-icon>Preciso ter conhecimento técnico avançado para usar
                                a Zapfarma?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div>
                            <p>Não. A Zapfarma foi desenvolvida para ser intuitiva. Oferecemos todo o treinamento e
                                suporte necessário para que você e sua equipe usem a plataforma sem dificuldades.</p>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-icon>question_answer</mat-icon>Como funciona a gestão para farmácias com múltiplos
                                CNPJs?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div>
                            <p>Trabalhamos com um modelo que permite a operação independente de cada unidade (CNPJ)
                                dentro da plataforma. Para redes maiores, podemos customizar uma solução que atenda
                                perfeitamente suas necessidades e também centralizar dados para relatórios de todos os
                                números assistidos.</p>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-icon>question_answer</mat-icon>Qual o retorno esperado do investimento?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div>
                            <p>Clientes Zapfarma relatam aumento de faturamento, otimização do tempo da equipe e uma
                                melhora significativa na experiência do cliente, resultando em mais vendas e
                                fidelização. O investimento se paga rapidamente com o volume de vendas gerado pela
                                automação e a proteção do seu ativo mais valioso: seu número de WhatsApp.</p>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-icon>question_answer</mat-icon>Como é o suporte da Zapfarma?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div>
                            <p>Oferecemos suporte completo via whatsapp, telefone através do nosso 0800, vídeo
                                conferência e acesso remoto, isso tudo para garantir que você aproveite ao máximo a
                                Zapfarma, estamos com seu time desde a integração até o uso diário da plataforma.</p>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-icon>question_answer</mat-icon>O que é o Selo Azul do WhatsApp? Como a Zapfarma
                                pode ajudar?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div>
                            <p>O Selo Azul é uma verificação oficial do WhatsApp para contas comerciais de notoriedade.
                                A Zapfarma é uma parceira oficial do Meta e oferece um serviço de consultoria premium
                                para auxiliar farmácias elegíveis na preparação da documentação e submissão da
                                solicitação, aumentando sua credibilidade e segurança do número da central de vendas.
                            </p>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>

            </div>
        </div>
    </section>
    <section class="front-zapfarma-home__container_10" id="front-zapfarma-home__container_10">
        <div class="front-zapfarma-home__container_10__camada">
            <div class="front-zapfarma-home__container_10__titulo">
                <form [formGroup]="formulario">
                    <h2>Preencha o formulário</h2>
                    <div class="input">
                        <input type="text" formControlName="nomeFarmacia" placeholder="Nome do cliente/farmácia"            
                        [ngClass]="{'invalid': formulario.get('nomeFarmacia')?.invalid && formulario.get('nomeFarmacia')?.touched}">
                    </div>
                    <div class="input">
                        <input type="text" mask="(00) 00000-0000||(00) 0000-0000" formControlName="contato" placeholder="Número do seu contato com DDD"
                        [ngClass]="{'invalid': formulario.get('contato')?.invalid && formulario.get('contato')?.touched}"
                        >
                    </div>
                    <div class="input">
                        <input type="text" mask="(00) 00000-0000||(00) 0000-0000" formControlName="whatsappDelivery" placeholder="Número do whatsapp do delivery"
                        [ngClass]="{'invalid': formulario.get('whatsappDelivery')?.invalid && formulario.get('whatsappDelivery')?.touched}"
                        >
                    </div>
                    <div class="input">
                        <input type="text" formControlName="emailContato" placeholder="Email de contato"
                        [ngClass]="{'invalid': formulario.get('emailContato')?.invalid && formulario.get('emailContato')?.touched}"
                        >
                    </div>
                    <div class="input">
                        <input type="text" formControlName="enderecoFarmacia" placeholder="Endereço da sua farmácia"
                        [ngClass]="{'invalid': formulario.get('enderecoFarmacia')?.invalid && formulario.get('enderecoFarmacia')?.touched}"
                        >
                    </div>
                    <div (click)="enviarFormulario()" class="front-zapfarma-home__container_10__titulo__botao">
                        <p>Enviar formulário</p>
                    </div>
                </form>

            </div>
            <div class="front-zapfarma-home__container_10__resultado">
                <h2>Ainda tem alguma dúvida?</h2>
                <p>Entre em contato agora mesmo</p>
                <span class="numero">0800 042 12 92</span>
                <img src="assets/imgs/logo-zap-branca.png" alt="IA Zapfarma" />
            </div>
        </div>
        <div class="front-zapfarma-home__container_10__rodape">
            <div>
                <span>Acesso rápido</span>
                <p><a href="#front-zapfarma-home__container_01">Início</a></p>
                <p>Sobre</p>
                <p>Trabalhe conosco</p>
            </div>
            <div>
                <span>Sobre</span>
                <p>Política de privacidade</p>
                <p>Termos de uso</p>
                <p><a href="#front-zapfarma-home__container_09">Perguntas frequentes</a></p>
            </div>
            <div>
                <span>Contato</span>
                <p>Contato&#64;zapfarma.com</p>
                <p>Segunda à Sexta: 08h às 18h</p>
            </div>
            <div>
                <span>Redes Sociais</span>
                <a target="_blank" href="https://www.instagram.com/zapfarmaoficial/"><img src="assets/imgs/insta.png"
                        alt="IA Zapfarma" /></a>
                <a target="_blank" href="https://www.facebook.com/zapfarmaoficial/"><img class="face"
                        src="assets/imgs/face.webp" alt="IA Zapfarma" /></a>
            </div>
        </div>
    </section>

</div>