<front-zapfarma-toolbar></front-zapfarma-toolbar>
<div class="front-zapfarma-politica-privacidade">
  <section class="front-zapfarma-politica-privacidade__container_01" id="front-zapfarma-politica-privacidade__container_01">
    <div class="front-zapfarma-politica-privacidade__container_01__camada">
      <div class="front-zapfarma-politica-privacidade__container_01__titulo">
        <h1>Política de Privacidade</h1>
        <p>A Drogaria Rainha da Posse respeita sua privacidade e se compromete a proteger os dados pessoais dos usuários que acessam nosso site. Esta Política de Privacidade explica como coletamos, utilizamos, armazenamos e protegemos suas informações, garantindo transparência e segurança no tratamento dos dados.</p>

        <h2>1. Introdução</h2>
        <p>A Drogaria Rainha da Posse respeita sua privacidade e se compromete a proteger os dados pessoais dos usuários que acessam nosso site.</p>

        <h2>2. Coleta de Dados</h2>
        <p>Podemos coletar informações pessoais como nome, e-mail, telefone e endereço quando você se cadastra em nosso site, realiza uma compra ou entra em contato conosco.</p>
        <p>Também podemos coletar dados de navegação, como endereço IP e cookies, com o objetivo de aprimorar sua experiência em nosso site.</p>

        <h2>3. Uso das Informações</h2>
        <ul>
          <li>Processar pedidos, pagamentos e entregas</li>
          <li>Fornecer suporte e atendimento ao cliente</li>
          <li>Enviar comunicações e promoções (com autorização)</li>
          <li>Melhorar serviços, produtos e experiência de navegação</li>
        </ul>

        <h2>4. Compartilhamento de Dados</h2>
        <ul>
          <li>Processamento de pagamentos e entregas</li>
          <li>Cumprimento de obrigações legais</li>
        </ul>

        <h2>5. Proteção e Armazenamento</h2>
        <p>Adotamos medidas técnicas e administrativas adequadas para proteger seus dados contra acessos não autorizados, perda, alteração, divulgação ou destruição.</p>

        <h2>6. Cookies</h2>
        <p>Utilizamos cookies para melhorar a navegação e personalizar o conteúdo. Você pode desativá-los nas configurações do navegador.</p>

        <h2>7. Direitos do Usuário</h2>
        <ul>
          <li>Acessar, corrigir ou excluir seus dados</li>
          <li>Revogar consentimento para comunicações</li>
          <li>Solicitar informações sobre o uso dos dados</li>
        </ul>

        <h2>8. Alterações</h2>
        <p>Podemos atualizar esta política periodicamente. Alterações relevantes serão comunicadas em nosso site.</p>

        <h2>9. Contato</h2>
        <p>📧 mundialposse01&#64;gmail.com</p>
      </div>
    </div>
  </section>
</div>
<front-zapfarma-rodape></front-zapfarma-rodape>
