<front-zapfarma-menu></front-zapfarma-menu>

  <div class="front-zapfarma-mensageria">
    <front-zapfarma-header title="Mensageria"></front-zapfarma-header>
    <div class="front-zapfarma-mensageria-container">
      <div class="front-zapfarma-mensageria-container__contato">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-content>
            <h3 class="h1-mobile">Contatos</h3>
          </mat-card-content>
          <!-- <mat-card-actions>
              <button mat-raised-button>Cadastrar</button>
              <button mat-stroked-button>Voltar</button>
          </mat-card-actions> -->
        </mat-card>
      </div>
      <div class="front-zapfarma-mensageria-container__chat">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-content>
            <h3 class="h1-mobile">Chat</h3>
          </mat-card-content>
          <!-- <mat-card-actions>
              <button mat-raised-button>Cadastrar</button>
              <button mat-stroked-button>Voltar</button>
          </mat-card-actions> -->
        </mat-card>
      </div>
    </div>
  </div>

