@use './../../../style/tokens.scss' as *;

.front-zapfarma-mensageria {
    width: 100%;
    padding-left: $space-medium;

    @media (max-width: 900px) {
        padding: $space-small;
    }
    .front-zapfarma-mensageria-container {
        width: 100%;
        position: relative;
        display: flex;
        gap: $space-small;
        // padding: 16px;
        &__contato {
            width: 28%;
            mat-card {
                border-radius: $space-medium;
                min-height: 90vh;
                height: auto;
                border: 0;      
                box-shadow: 0px 0px 4px #e1e1e1;
            }
        }

        &__chat {
            width: 70%;
            mat-card {
                border-radius: $space-medium;
                min-height: 90vh;
                height: auto;
                border: 0;
                box-shadow: 0px 0px 4px #e1e1e1;
            }
        }

        @media (max-width: 900px) {
            flex-direction: column;
            padding-left: 0;

            &__contato,
            &__chat {
                width: 100%;
            }

            mat-card {
                min-height: 0;
            }
        }
    }
}
