<front-zapfarma-menu></front-zapfarma-menu>
  <div class="front-zapfarma-treinamentos">
    <front-zapfarma-header title=" "></front-zapfarma-header>
    <div class="front-zapfarma-treinamentos-container">
      <div class="front-zapfarma-treinamentos-container__dash">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-content>
            <h3 class="h1-mobile">Olá, {{usuario ? usuario?.nome : ''}}!</h3>
            <p>É muito importante você assistir todos os videos fornecidos pela nossa plataforma de afiliados.</p>
            <p>Em caso de dúvidas entre em contato com a nossa equipe.</p>
            <div class="flex-videos-cotainer">
              <div class="videos">
                <h2>Afiliado iniciante</h2>
              <iframe width="350px" height="200px" src="https://www.youtube.com/embed/5ZfTObFtHJg?si=JZ9cpk0n1Lufkxe3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              </div>
              <div class="videos">
                <h2>Como divulgar o link da Hotmart</h2>
              <iframe width="350px" height="200px" src="https://www.youtube.com/embed/SnbMX2JYeoQ?si=srulTCGNSORdOPOJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              </div>
            </div>
            
          </mat-card-content>
          <!-- <mat-card-actions>
              <button mat-raised-button>Cadastrar</button>
              <button mat-stroked-button>Voltar</button>
          </mat-card-actions> -->
        </mat-card>
      </div>
    </div>
  </div>

