<front-zapfarma-menu></front-zapfarma-menu>
  <div class="front-zapfarma-dashboard">
    <front-zapfarma-header title=" "></front-zapfarma-header>
    <div class="front-zapfarma-dashboard-container">
      <div class="front-zapfarma-dashboard-container__dash">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-content>
            <h3 class="h1-mobile">Olá, {{usuario ? usuario?.nome : ''}}!</h3>
            <p>Que bom que você esta conosco! A <strong>Equipe Zapfarma</strong> esta feliz com esta parceria de sucesso!</p>
            <!-- <p>- Clique no botão <mat-icon>menu</mat-icon> para exibir o menu de acesso!</p> -->
            <h4>Avisos</h4>
            <p>⚠️ Prezado afiliado, não esqueça de cadastrar todos os dados do cliente. Estas informações servem para atualizar a nossa base de dados, melhorando a comunicação entre o cliente final e a farmácia.</p>
            <h2>Zapfarma - Sites</h2>
            <p>🔗 <a href="https://zapfarma.com" target="_blank">Site para farmácias</a></p>
            <p>🔗 <a href="https://zapfarma.com/afiliados" target="_blank">Site para afiliados</a></p>
            <p>🔗 <a href="https://zapfarma.com/clientes" target="_blank">Site para clientes</a></p>
            <hr>
            <h2>Hotmart - Venda de assinaturas para Clientes</h2>
            <p>🔗 <a href="https://hotmart.com/pt-br/afiliados?utm_source=google&utm_medium=paid&utm_campaign=bra_br_perf_cad_su_search_afiliados&utm_content=site_link&gad_source=1&gclid=Cj0KCQiAv628BhC2ARIsAIJIiK_fEFj3zmWRUhaKta2HdxNRsMbggJHeK8aV10eLRJkk9SZz6U0B4S4aApkYEALw_wcB" target="_blank">Como ser um afiliado</a></p>
            <p>🔗 <a href="https://app-vlc.hotmart.com/affiliate-recruiting/view/0263Z97257061" target="_blank">Nosso planos</a></p>
            <p>🔗 <a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwibrbDax_-KAxW-KEQIHbMqIygYABACGgJkeg&ae=2&aspm=1&co=1&ase=5&gclid=Cj0KCQiAv628BhC2ARIsAIJIiK9-VZj6FBrL8pWaZ34e6GxGA_ec1vH6P2Xue_4EGxXKctMpJGVc9tIaAhVzEALw_wcB&ei=TMWLZ4bbG_vV1sQPyrWfoA8&ohost=www.google.com&cid=CAESVeD2Qvw5Ovr8FwVwGX8o5lTkGPM0VN7NjRVKCwMPTe-WITIajcQs_fGmRR3jksOojY5jZtAFs1HsTKiENyaQGGP_xqx-2gVF96PaRTeSd9SmbUcbyBw&sig=AOD64_0EU962PSCSc8AYdZ7FiU3cuAx-RA&q&sqi=2&adurl&ved=2ahUKEwiGsafax_-KAxX7qpUCHcraB_QQ0Qx6BAgNEAE" target="_blank">Cadastro de afiliados</a></p>
          </mat-card-content>
          <!-- <mat-card-actions>
              <button mat-raised-button>Cadastrar</button>
              <button mat-stroked-button>Voltar</button>
          </mat-card-actions> -->
        </mat-card>
      </div>
    </div>
  </div>

